[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "site/themes/minimal"]
	path = site/themes/minimal
	url = https://github.com/calintat/minimal.git
